:root {
    --main-cinza: #4E4D4E;
    --main-preto: #242023;
    --main-branco: #F0F2F2;
    --main-azul: #049DBF;
    --bt-azul: #194759;
    --sombra: #03172F;
}

.body {
    font-family: 'Source Code Pro', 'Montserrat', monospace, sans-serif;
}

.principal-projetos {
    background: linear-gradient(60deg, var(--main-cinza), var(--main-preto));
}

.projetos {
    margin: 75px;
}

.botao {
    background-color: var(--bt-azul);
    color: var(--main-branco) !important;
    font-family: 'Source Code Pro', sans-serif;
}

.botao-link:hover {
    transform: scale(1.1);
}

.card-largura {
    max-width: 19rem !important;
}

.titulo-projetos {
    padding: 60px 0 0 60px;
    box-sizing: content-box;
}

.card:hover {
    border-color: var(--main-azul);
    color: var(--main-branco);
    box-shadow: 5px 5px 20px var(--sombra);
}