.projetos {
    margin: 75px;
}

.botao {
    background-color: var(--bt-azul);
    color: var(--main-branco) !important;
}

.botao-link:hover {
    transform: scale(1.1);
}

.card-largura {
    max-width: 19rem !important;
}

.titulo-projetos {
    padding: 60px 0 0 60px;
    box-sizing: content-box;
}

.card:hover {
    border-color: var(--main-azul);
    color: var(--main-branco);
    box-shadow: 5px 5px 20px var(--sombra);
}