:root {
    --main-cinza: #4E4D4E;
    --main-preto: #242023;
    --main-branco: #F0F2F2;
    --main-azul: #049DBF;
    --bt-azul: #194759;
    --sombra: #03172F;
}

.body {
    font-family: 'Source Code Pro', 'Montserrat', 'monospace', 'sans-serif';
}

.nav-item {
    margin: 10px;
}

.nav--link:hover {
    transform: scale(1.1);
}

.principal {
    background: linear-gradient(60deg, var(--main-cinza),
            var(--main-preto));
    display: grid;
    grid-auto-columns: 1fr;
}

.apresentacao {
    padding: 48px 0 0 83px;
}

.citacao {
    margin: 48px 0 0 100px;
}

.text-titulo {
    text-shadow: 2.5px 3px 2px var(--sombra);
    font-family: 'Source Code Pro';
    font-weight: bolder;
    color: var(--main-azul);
    box-sizing: border-box;
}

.text-secundario {
    text-shadow: 2.5px 2px 2px var(--sombra);
    font-family: 'Source Code Pro';
    font-size: 16px;
    font-weight: lighter;
    color: var(--main-branco);
}

.text-link:hover {
    color: var(--main-azul);
}

.sobre {
    text-align: start;
    margin: 4px 40px;
    padding: 48px 0 0 48px;
    font-size: 20px;
}

.text-sobre {
    text-shadow: 2px 2px 2px var(--sombra);
    color: var(--main-branco);
    font-family: 'Montserrat';
}

.tecnologias {
    padding-top: 30px;
}

.contato {
    text-align: start;
    margin: 0 0 0 40px;
    padding: 48px;
}

.github-icon {
    color: #333;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Montserrat';
}

.email-icon {
    color: #0489c9;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Montserrat';
}

footer {
    position: absolute;
    width: 100%;
    background-color: var(--main-preto);
    padding: 1.125rem 0;
    text-align: center;
    color: var(--main-branco);
}

@media screen and (max-device-width: 900px) {

    .apresentacao {
        padding: 50px 0 0 50px;
    }

    .citacao {
        margin: 48px 0 0 0;
    }

    .sobre {
        text-align: left;
        padding: 50px 0 0 4px;
    }

    .contato {
        margin: 0;
    }
}