:root {
    --main-cinza: #4E4D4E;
    --main-preto: #242023;
    --main-branco: #F0F2F2;
    --main-azul: #049DBF;
    --bt-azul: #194759;
}

.body {
    font-family: 'Source Code Pro', 'Montserrat', 'monospace', 'sans-serif';
}

.nav--link:hover {
    transform: scale(1.1);
}

.principal {
    background: linear-gradient(45deg, var(--main-cinza), var(--main-preto)) !important;
    display: grid;
    grid-auto-columns: 1fr;
    min-height: 100vh;
}

/*texto*/
.text {
    text-shadow: 2.5px 3px 2px #03172F;
    text-align: justify;
    color: #FFE7B5;
}

.text-principal {
    text-shadow: 2.5px 3px 2px #03172F;
    font-family: 'Source Code Pro';
    font-weight: bolder;
    color: #D76300;
    box-sizing: border-box;
}

.text-secundario {
    color: #458C91;
    text-shadow: 2.5px 2px 2px #03172F;
    font-family: 'Montserrat';
}

.text-link:hover {
    color: #D76300;
}

.apresentacao {
    margin: 60px 60px 10px 60px;
}

.sobre {
    margin: 2.6rem 5rem;

}

.contato {
    text-align: start;
    margin: 0.28rem 2.5rem;
}

.github-icon {
    color: #333;
    font-weight: bold;
    font-size: 22px;
}

.email-icon {
    color: #0489c9;
    font-weight: bold;
    font-size: 22px;
}

footer {
    position: absolute;
    width: 100%;
    background-color: black !important;
    padding: 1.125rem 0;
    text-align: center;
}

.copyright {
    color: #FFFFFF;
    font-size: 11p;
    margin: 20px 0 0;
    font-family: 'inter';
}

@media screen and (max-device-width: 900px) {

    .sobre {
        text-align: left;
        margin: 2.6rem 1.8rem;

    }
}