.body {
    min-height: 100vh;
    font-family: 'Source Code Pro', 'Montserrat', 'monospace', 'sans-serif';
}

.principal {
    background: linear-gradient(45deg, #555555, #000000) !important;
    display: grid;
    grid-auto-columns: 1fr;
}

.text {
    text-shadow: 2.5px 3px 2px #03172F;
}

.apresentacao {
    margin: 60px 60px 10px 60px;
    font-family: 'inter';
    font-weight: bolder;
    color: #D76300;
    box-sizing: border-box;
}

.text-citacao {
    color: #458C91;
    text-shadow: 2.5px 2px 2px #03172F;
    font-style: oblique;
    font-family: 'Source Code Pro';
}

.sobre {
    margin: 2.6rem 5rem;
    text-align: justify;
    color: #FFE7B5;
}

.text-sobre {
    text-shadow: 1px 2px 20px #03172F;
    font-family: 'Source Code Pro';
}

.contato {
    text-align: start;
    margin: 0.28rem 2.5rem;
}

.text-contato {
    text-shadow: 1.5px 2.5px 8px #03172F;
    font-family: 'monospace';
    font-weight: bold;
    color: #FEFEFE;
}


.contato--link {
    text-decoration: none !important;
}

.github {
    color: #333;
    font-weight: bold;
    font-size: 22px;
}

.email {
    color: #0489c9;
    font-weight: bold;
    font-size: 22px;
}

.whatsapp {
    color: #25D366;
    font-weight: bold;
    font-size: 20px;
}

footer {
    background-color: black !important;
    padding: 1.125rem 0;
    text-align: center;
}

.copyright {
    color: #FFFFFF;
    font-size: 11p;
    margin: 20px 0 0;
    font-family: 'inter';
}

@media screen and (max-device-width: 900px) {

    .sobre {
        text-align: left;
        margin: 2.6rem 1.8rem;

    }
}